
body {
  margin: 0;
  padding: 10px;
  font-family: 'honey mustard';
  background: #ffffff;
  color: #e6c068; /* Set text color to white */
}

.container {
  padding-top: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.container img {
  object-fit: cover; /* Ensure the video fills its container */
  width: 90vw;
  height: 95vh;
}

