
body {
  margin: 0;
  padding: 0 10px;
  font-family: 'honey mustard';
  background: #ffffff;
  color: #e6c068; /* Set text color to white */
}

.container {
  padding-top: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.container img {
  object-fit: cover; /* Ensure the video fills its container */
  width: auto;
  height: 95vh;
}


.background-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./passport.gif');
  background-size: cover; /* or contain depending on your preference */
  z-index: -1; /* Ensures that other content appears above the background */
}