body,
html {
  margin: 0;
  padding: 0;
  font-family: 'honey mustard';
  background: #ffffff;
  color: #e6c068; /* Set text color to white */
}

.container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
}
.bg-video {
  object-fit: cover; /* Ensure the video fills its container */
  width: auto;
  height: 100vh;
}

